@import url("https://fonts.googleapis.com/css2?family=Baskervville&family=Fredericka+the+Great&display=swap");
.title {
  background-color: #ffb0f0;
  display: flex;
  justify-content: center;
}

.aboutus {
  background-color: #eec8e0;
}

.Employees {
  font-family: "Fredericka the Great", cursive;
}

.Mission-Statement {
  font-family: "Fredericka the Great", cursive;
  background-color: #eec8e0;
}

.founder {
  font-family: "Fredericka the Great", cursive;
}

.text {
  font-family: "font-family: 'Baskervville', serif;";
}

.footer {
  background-color: #f093dd;
  padding: 15px;
  display: flex;
}

.headers {
  display: flex;
  justify-content: center;
}

.text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .row {
    background-color: red;
  }
  .AboutUs {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 5px;
  }

  .barbie {
    padding: 5px;
  }
  .Employees {
    padding: 3px;
  }
}
