* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EEC8E0
}

.wrapper {
    background: #F092DD;
}

header {
    max-width: 800px;
    margin: 0 auto;
}

.oval {
    background: #FFAFF0;
    border: 3px solid #A8C7BB;
    border-radius: 220px / 70px;
    padding: 39px 0;
    text-align: center;
}

.oval h1 {
    font-family: 'Mr Bedfort', 'Arial';
    font-weight: 400;
    font-size: 36px;
}

nav {
    background-color: #FFAFF0;
    display: flex;
    padding: 20px 25px;
    align-items: center;
    position: relative;
}

nav button {
    border: none;
    background: none;
}

nav h1 {
    text-align: center;
    flex: 1;
    font-family: 'Fredericka the Great', 'Arial';
    font-weight: 400;
    font-size: 40px;
    color: #000000;
}

.nav__links {
    background-color: #d359ba;
    position: absolute;
    left: -40%;
    top: 90px;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
    align-items: center;
    padding: 60px 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition: left 0.5s;
}

.nav__links a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    font-size: 20px;
    padding-left: 15px;
}

.nav__links a:hover {
    color: #351010
}

.cart-img {
    object-fit: contain;
    width: 24px;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav__menubtn {
    cursor: pointer;
}

.nav__menubtn:hover {
    transform: scale(1.1);
}



@media screen and (min-width: 700px){
    .nav__links {
        background-color: transparent;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 0;
        border-radius: 0;
        
    }
    
    .nav__links a {
        text-decoration: none;
        color: rgb(20, 20, 20);
        font-size: 20px;
        padding-left: 15px;
    }
    nav button {
        display: none;
    }

    nav h1 {
        display: none;
    }
    nav {
        justify-content: center;
        align-items: center;
    }
}

.items {
    background: #EEC8E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
}

.myitem {
    padding: 28px 21px 0 44px;
}

.myitem__top {
    display: flex;

}

.myitem__detail {
    font-family: 'Baskervville', serif;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0 15px;
}

.myitem__detail span {
    width: 35px;
    height: 35px;
    background: #F092DD;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: #392F5A;
}

.myitem__detail h2 {
    font-weight: 400;
    font-size: 12px;
    color: #392F5A;
}

.myitem__detail h3 {
    font-weight: 400;
    font-size: 16px;
    color: #392F5A;
}

.myitem__bottom h1 {
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 24px;
    color: #392F5A;
    text-align: center;
    padding-top: 5px;
}

.myitem__total {
    background: #F092DD;
    border-radius: 10px;
    width: 158px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
}

.myitem__total p {
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 24px;
    padding: 5px 0;
    color: #392F5A;
}

.myitem__description {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    width: 300px;
}

.myitem__description p {
    color: #392F5A;
}

.myitem__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myitem__img img {
    object-fit: contain;
    width: 300px;
}

.checkout {
    background: #F092DD;
    border: 1px solid #392F5A;
    border-radius: 10px;
    margin: 26px 24px;
    padding: 0 19px;
    align-items: center;
    max-width: 750px;
    display: none;
}

.checkout__head {
    text-align: center;
    margin: 13px 0 18px 0;
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.checkout__field {
    background: #EEC8E0;
}

.br5 {
    border-radius: 5px;
}

.checkout__field {
    display: flex;
}

.checkout__field > input {
    flex: 1;
    height: 26.78px;
    padding-left: 14px;
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    background: none;
    border: none;
}

input:focus-visible {
    outline: none;
}

.field__name {
    margin-bottom: 7px;
}

.checkout__tips {
    width: 84px;
    margin-top: 8px;
}

.checkout__tips > input {
    width: 100%;
    border: none;
    background: #EEC8E0;
    border-radius: 5px;
    padding: 5px 4px;
}

.checkout__mid {
    overflow: hidden;
}

.checkout__submit {
    display: block;
    margin: 0 auto;
    width: 154px;
    height: 49px;
    border: none;
    background: #FFAFF0;
    border-radius: 5px;
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
    cursor: pointer;
}

.footer__wrapper {
    background: #F092DD;
}

footer {
    padding: 22px 23px;
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (min-width: 750px){
    .myitem__img {
        flex-direction: row;
    }

    .checkout {
        margin: 26px auto;
    }
}

.checkout__show {
    text-align: center;
    padding: 50px 0 30px 0;
}

.checkout__btn {
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    background-color: #F092DD;
    font-family: 'Baskervville';
    font-weight: 600;
}

.checkout__btn:hover {
    background-color: #cc5eb6;
    cursor: pointer;
}